
.check div{
    position: relative;

}
.check div form {
    position: absolute;
    display: inline-block;
    right: 10px;
    line-height: 80px;
}
.check div img {
    width: 80px;
}
.hide{
    display: none;
}


.test{
    position: absolute;
}
