
.relativeBox{
    position: relative;
    border: 1px solid #000;
    border-radius: 12px;
    margin: 10px ;
    width: 50%;
    min-width: 600px;
    margin-bottom: 50px;
}

.openbox{
    height: 100%;
   width: 100%;
}

.openbox img{ 
    display: inline-block;
    width:40px;
    margin-bottom: 10px;
}

.openbox .checkbox {
    position: absolute;
    top:13px;
    right: 10px;
}
.openbox h2{
    display: inline-block;
    margin-top: 5px;
    margin-left: 20px;
}
.openbox .aaabbb{
    width:100px;
    display: inline-block;
}
.closebox{
    display: none; 
    height: 100%;
    width: 100%;
}

.datain{
    margin-top: 10px;
    margin-left: 5px;
    margin-bottom: 5px;
}

.output{
    display: inline-block;
    border-style: none;
    outline: none;
    text-align: center;
    margin-top: 10px;

}

.right  {
    width:20px;
    margin-left: 10px;
}

hr{
    margin: 0px;
    
}

.closebox select{
    margin-left: 5px;
}

.bill{
    position: fixed;
    top: 60px;
    right:0px;
    border: 1px solid black;
    background-color: #c1c1c1;
    text-align: center;    
 padding: 5px;
}