// 넥슨 메인 아이콘 설정 (상욱 07.30)
.mainicon{
    padding: 0px;
    margin: 0px;
    width: 50px;
    position: relative;
    
}
//-------------------------------------------

// font설정 및 전체 사이즈 조정 (상욱 07.25)

@font-face{
    font-family: 'Black Han Sans', sans-serif;
   
    src: url('https://fonts.googleapis.com/css?family=Black+Han+Sans&display=swap" rel="stylesheet');
}

* {
    
    margin: 0px;
    padding: 0px;
    
}

// 헤더와 로그인폼 스타일 시작 (상욱 07.25)
.header{
    height: 60px;
    border-bottom: 2px solid black;
    font-family: 'Black Han Sans', sans-serif;
    
    
}


.header ul{
    padding-top: 30px;
    list-style: none;
}
.header li {
    display: block;
    position: relative;
    float: right;
    margin: 3px;    
}
.header li a{
    color: black;
}
.header li :hover{
    text-decoration: none;
    color: black;
}
// 헤더와 로그인폼 스타일 끝 (상욱 07.25)